[submodule "Engine/Code"]
	path = Engine/Code
	url = https://github.com/tankiJong/morph-engine.git
	branch = dx12
[submodule "Projects/dx12test"]
	path = Projects/dx12test
	url = https://github.com/tankiJong/morph-dx12-test.git
